<h1>Editing your data</h1>

<%# <form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="form_authenticity_token">
    <label for="email">Email</label>
    <input id="email"  name="user[email]"type="email">

    <label for="username">Username</label>
    <input id="username" name="user[username]" type="text">

    <label for="password">Password</label>
    <input id="password" name="user[password]" type="password">

    <input type="submit" value="Submit">
</form> %>

<%#= form_tag("/users", method: :post) do %>
    <%#= label_tag(:email, "Email") %>
    <%#= email_field_tag(:email) %>

    <%#= label_tag(:username, "Username") %>
    <%#= text_field_tag(:username) %>

    <%#= label_tag(:password, "Password") %>
    <%#= password_field_tag(:password) %>

    <%#= submit_tag %>
<%# end %>

<%= form_with model: @user do |form| %>
    <%= form.label :email, 'Edit your email' %> 
    <%= form.email_field :email, placeholder: 'example@example.com' %>
    
    <%= form.label :username, 'Edit your username here' %>
    <%= form.text_field :username, placeholder: 'My username'  %> 

    <%= form.label :password %> 
    <%= form.password_field :password %>

    <%= form.submit %>
<% end %>

<% if @user.errors.any? %>
    <div class="model_errors">
        <h2><%= pluralize(@user.errors.count, 'Error') %> prohibited this user from being updated</h2>

        <ul>
            <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


  